<footer class="footer">
    &copy; {{ build.timestamp | dateToFormat('yyyy') }} webnopoo.com | <a href="https://github.com/matuzo/webnopoo">GitHub</a><br>
    built with eleventy and ❤️ in Vienna by <a href="https://twitter.com/mmatuzo">@mmatuzo</a>
</footer>
