---
layout: base
eleventyNavigation:
  key: Home
---


{%- for tip in collections.tips | reverse -%}
  <article class="tip">
    <h2 class="tip__heading" data-count="{{ tip.data.num }}">{{ tip.data.title }}</h2>
    <div class="tip__content">
      {{ tip.templateContent | safe }}

      <a href="{{ tip.url }}" class="tip__share">Share Tip {{ loop.revindex }}</a>
    </div>
  </article>
{%- endfor -%}
