<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    {% include "meta.njk" %}

    <script type="module">
        document.documentElement.classList.add('js')
    </script>
</head>
{{page |log }}
<body>
    {% include "header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <script src="{{ '/assets/scripts/main.js' | url }}"></script>
</body>
</html>
